<ion-view style="" id="admin" title="Check List">
	<ion-content class="has-header" padding="true" overflow-scroll:false  ng-init="loadAdminPost()">
<div ng-repeat="(name,postItemToGo) in Aposts">
	<div  ng-if="!postItemToGo.postStatus && postItemToGo.postDirect=='1'">
		<div class="list card">
			<div class="item item-avatar">
				<img src="http://tutorialsplane.com/runtest/ionic/img/profile.jpg">
				<h2>{{user.username}}</h2>
				<p>{{postItemToGo.postText}}</p>
			</div>

			<div class="item item-image">
				<img src="img/nin-live.png">
			</div>
			<div class="item">
				
				<div class="row">
					<div class="col col-50"><h3>Sharing for:</h3></div>
					<div class="col"><i class="icon ion-social-facebook custom-icon-facebook"></i></div>
					<div class="col"><i class="icon ion-social-twitter custom-icon-twitter"></i></div>
					<div class="col"><i class="icon ion-social-googleplus-outline custom-icon-gmail"></i></div>
				</div>
				<br>
				<div class="list">
					<div class="row">
						<div class="col">
							<a class="item custom-icon-checkmark" href="#" ng-click="approve(name)">
							<i class="icon ion-checkmark"></i>
								Approve
							</a>
						</div>
						<div class="col">
							<a class="item assertive" href="#" ng-click="reject(name)">
								<i class="icon ion-close"></i>
								Reject
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
		</div>
		</div>
	</ion-content>
</ion-view>