<ion-view style="" id="loginnormal" title="Login" hide-nav-bar="true">
    <ion-content scroll="false" padding="true" class="manual-ios-statusbar-padding">
        <form class="list goButtom" id="login-form1">
            <ion-list id="login-list1">
                <label id="login-input1" class="item item-input">
                    <input placeholder="Username" type="text">
                </label>
                <label id="login-input2" class="item item-input">
                    <input placeholder="Password" type="password">
                </label>
            </ion-list>
            <div style="height: 15%;" class="spacer"></div>

            <a class="button button-stable  button-block" id="login-button1" href="#/tabsCtrl/shared">Sing In</a>

            <div style="height: 15%;" class="spacer"></div>
            
            <a class="button button-positive  button-block button-clear" style="color:#FF9955; margin-top:15%;" id="login-button2" href="#/signup">Or create an account</a>
        </form>
    </ion-content>
</ion-view>