<ion-view style="" id="pending" title="Pending">
    <ion-content class="has-header"  padding="true">
    	
		<div class="list card">
			<div class="item item-avatar">
				<img src="https://pbs.twimg.com/profile_images/776175193219854337/oBB4eoH6_400x400.jpg">
				<h2>Ozan Konur</h2>
			</div>
			<div class="item item-text-wrap">
			Sorry. I am writing this because of some of this penguins are really alone. We should takecare it
			</div>
			<div class="item">
				
				<div class="row">
					<div class="col col-50"><h3>Sharing for:</h3></div>
					<div class="col"><i class="icon ion-social-twitter"></i></div>
				</div>
			</div>
		</div>

    </ion-content>
</ion-view>